*
!/.gitignore
!/Audios/
!/Audios/**
!/Images/
!/Images/**
!/models/
!/models/**
!/scripts/
!/scripts/**
!/shaders/
!/shaders/**
!/readme_images/
!/readme_images/**
!/CG_Project.html
!/main.js
!/style.css
!/readme.md
